@use '../colors.scss' as cl;
@forward '../mixins/btn.scss';

.form-group {
  width: 100%;
  background-color: transparent;
  padding: 1.2rem 0 0.5rem 0;

  .appended,
  .prepended {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.form-input {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 0.85rem;
  transition: all ease;

  &:is(:focus, :active, :focus-visible) {
    outline: 2px solid rgba(84, 95, 125, 0.15);
  }

}

.form-append,
.form-prepend {
  @extend .form-input;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-error {
  font-size: x-small;
  color: red;
}