@use '../mixins/breakpoints.scss' as * ;

$grid-columns: 12;
$grid-gutter-width: 16px;

// TODO: dynamic gap

.row {
  display: flex;
  flex-wrap: wrap;
  // gap: $grid-gutter-width;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;

  @for $i from 1 through $grid-columns {
    &.col-#{$i} {
      flex: 0 0 percentage($i / $grid-columns);
      max-width: percentage($i / $grid-columns);
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include media-breakpoint-up($breakpoint) {
      @for $i from 1 through $grid-columns {
        &.col-#{$breakpoint}-#{$i} {
          flex: 0 0 percentage($i / $grid-columns);
          max-width: percentage($i / $grid-columns);
        }
      }
    }
  }
}
