@use '../mixins/breakpoints.scss' as *;

$grid-columns: 12;

// TODO: dynamic gap

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 percentage($i / $grid-columns);
    max-width: percentage($i / $grid-columns);
  }

}

@each $breakpoint,
$width in $breakpoints {
  @include media-breakpoint-up($breakpoint) {
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 percentage($i / $grid-columns);
        max-width: percentage($i / $grid-columns);
      }
    }
  }
}

@for $i from 1 through $grid-columns {
  .gap-#{$i} {
    gap: $i+px
  }
}