@use '../mixins/breakpoints.scss' as *;

$maxVal: 100;
$step: 2;
$fullable-types: h, w;
$spacing-types: h, w, p, m, px, py, pr, pl, pt, pb, my, mx;

@each $fullable in $fullable-types {
  .#{$fullable}-full {
    @if $fullable == h { height: 100% !important; }
    @else if $fullable == w { width: 100% !important; }
  }

  .#{$fullable}-screen {
    @if $fullable == h { height: 100vh !important; }
    @else if $fullable == w { width: 100vw !important; }
  }
}

@each $type in $spacing-types {
  @for $i from 0 through $maxVal {
    @if $i % $step == 0 and $i != 1 {
      $val: $i +'%';

      .#{$type}-#{$i} {
        @if $type == h { height: #{$val} !important; }
        @else if $type == w { width: #{$val} !important; }
        @else if $type == p { padding: #{$val} !important; }
        @else if $type == m { margin: #{$val} !important; }

        @else if $type == mx { margin-left: #{$val}; margin-right: #{$val}; }
        @else if $type == my { margin-top: #{$val}; margin-bottom: #{$val}; }

        @else if $type == px { padding-left: #{$val}; padding-right: #{$val}; }
        @else if $type == py { padding-top: #{$val}; padding-bottom: #{$val}; }
        
        @else if $type == pr { padding-right: #{$val};}
        @else if $type == pl { padding-left: #{$val};}
        @else if $type == pb { padding-bottom: #{$val}; }
        @else if $type == pt { padding-top: #{$val};}
      }
 
    }
  }
}

// With breakpoint
@each $breakpoint,
$width in $breakpoints {
  @include media-breakpoint-up($breakpoint) {

    @each $type in $spacing-types {
      @for $i from 0 through $maxVal {
        @if $i % $step ==0 and $i !=1 {
          $val: $i +'%';
          .#{$type}-#{$breakpoint}-#{$i} {
            @if $type == h { height: #{$val} !important; }
            @else if $type == w { width: #{$val} !important; }
            @else if $type == p { padding: #{$val} !important; }
            @else if $type == m { margin: #{$val} !important; }

            @else if $type == mx { margin-left: #{$val}; margin-right: #{$val}; }
            @else if $type == my { margin-top: #{$val}; margin-bottom: #{$val}; }
            
            @else if $type == px { padding-left: #{$val}; padding-right: #{$val}; }
            @else if $type == py { padding-top: #{$val}; padding-bottom: #{$val}; }
            
            @else if $type == pr { padding-right: #{$val};}
            @else if $type == pl { padding-left: #{$val};}
            @else if $type == pb { padding-bottom: #{$val}; }
            @else if $type == pt { padding-top: #{$val};}
          }
        }
      }
    }

  }

}