// Breakpoints

$breakpoints: (
  // xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  // xl: 1200px
);

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  $max: map-get($breakpoints, $breakpoint) - 1;
  @media (max-width: $max) {
    @content;
  }
}

@mixin media-breakpoint-only($breakpoint) {
  $min: map-get($breakpoints, $breakpoint);
  $max: map-get($breakpoints, next-key($breakpoints, $breakpoint)) - 1;
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin media-breakpoint-between($min-breakpoint, $max-breakpoint) {
  $min: map-get($breakpoints, $min-breakpoint);
  $max: map-get($breakpoints, $max-breakpoint) - 1;
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}
