@mixin btn-base {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

@mixin btn-outline {
  border: 2px solid currentColor;
  color: currentColor;
}

.btn {
  @include btn-base;
}

.btn-outline {
  @include btn-base;
  @include btn-outline;
}

