@use '../colors.scss' as *;

.btn {
  &.account {
    background-color: $secondary;
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    transition: all 6ms;
    border: $secondary 1px solid ;

    &:hover {
      background-color: #fff;
      border: $secondary 1px solid ;
    }
  }

  &.auth-btn {
    @extend .account;

    border-radius: 0px;
  }

  &.disabled {
    opacity: 0.5;
  }
}