@use '../mixins/breakpoints.scss' as *;

hr.red {
  border-color: red;
}

.feedsCard {

  .url {
    text-decoration: underline;
    margin-bottom: 2px;
    font-size: 1.1rem;
    color: currentColor;
  }

  .feedImage {
    object-fit: cover;
    background-color: #d9d9d9;
  }

  .sourceAndDate {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .categories {
    background-color: rgb(153, 72, 72);
    width: fit-content;
    padding: 0.25rem 0.5rem;
    font-size: x-small;
    margin-bottom: 3px;
    color: #fff;
  }

  .title,
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

}

.popularFeed {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: end;
  display: flex;
  padding: 0.5rem;

  .feedsCard {
    padding: 1rem 1.3rem; 
    background-color: #EEE;
    width: max-content;
    max-width: 80vw;
  }
}

@include media-breakpoint-up('md') {
  .feedsCard {
    .url {
      font-size: 1.5rem;
    }

    .title,
    .description {
      -webkit-line-clamp: 3;
    }
  }

  .popularFeed {
    height: 65vh;
    background-size: cover;

    .feedsCard {
      max-width: 60vw;
    }
  }
}