@use './colors.scss' as cl;
@use './mixins/typography.scss' as *;

// Normalize
body {
  padding: 0;
  margin: 0;

  @include typography-styles;
}

* {
  box-sizing: border-box;
  // transition: all 0.3s;
}

a {
  text-decoration: none;
}

input:-internal-autofill-selected {
  appearance: initial !important;
  background-image: none !important;
  background-color: initial !important;
  color: initial !important;
}

.border-none {
  border: none !important;

  &:is(:hover, :focus, :focus-visible){
    border: none !important;
    outline: none !important;
  }
}